body{
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, hsl(42, 94%, 75%), #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img{
    border: solid 5px rgb(161, 48, 48)  ; border-radius: 100px;
}
video{
    border: solid 5px  rgb(161, 48, 48);
}
img{
    margin: 10px;
    width:250;height:300
   
}
img:hover{
    box-shadow: 10px 10px 5px black;
    height: 50%;
    transition : all 1s;
    transform: scale(1.1);                      
}
